html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}
a.header:link {
  text-decoration: none;
  color: #666666;
  font-size: 1.5em;
}

a.header:visited {
  text-decoration: none;
  color: #666666;
  font-size: 1.5em;
}

a.header:active {
  text-decoration: none;
  color: #ff0000;
  font-size: 1.5em;
}

a.header:hover {
  text-decoration: none;
  color: #ff0000;
  font-size: 1.5em;
}

body {
  font-size: 62.5%; /* Resets 1em to 10px */
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;
}
.title-correction {
  margin-bottom: 28px;
  float: left;
}
#page {
  background-color: #ffffff;
  text-align: left;
  margin: 0px auto;
  padding: 0;
  max-width: 700px;
  /* border:1px solid red; */
}

#header {
  height: 75px;
  font-size: 1.2em;
}

.narrowcolumn {
  float: left;
  width: calc(100% - 80px);
  max-width: 700px;
  overflow-wrap: break-word;
}

.post {
  margin: 0 0 10px;
  text-align: left;
}

#footer {
  border: none;
  width: 700px;
  clear: both;
  font-size: 1.2em;
}

#content {
  font-size: 2em;
}

.narrowcolumn .entry,
.widecolumn .entry {
  line-height: 200%;
  clear: both;
}

.narrowcolumn .postmetadata {
  text-align: left;
}

.alt {
  background-color: #f8f8f8;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

small {
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 0.9em;
  line-height: 1.5em;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h2.pagetitle {
  font-size: 1.5em;
}

#sidebar h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

h3 {
  font-size: 1.3em;
}

h1,
h1 a,
h1 a:hover,
h1 a:visited,
.description {
  text-decoration: none;
}

h2,
h2 a,
h2 a:visited,
h3,
h3 a,
h3 a:visited {
  color: #333;
}

h2,
h2 a,
h2 a:hover,
h2 a:visited,
h3,
h3 a,
h3 a:hover,
h3 a:visited,
#sidebar h2,
#wp-calendar caption,
cite {
  text-decoration: none;
}

.entry p a:visited {
  color: #b85b5a;
}

.commentlist li,
#commentform input,
#commentform textarea {
  font: 0.9em "Lucida Grande", Verdana, Arial, Sans-Serif;
}

.commentlist li {
  font-weight: bold;
}

.commentlist cite,
.commentlist cite a {
  font-weight: bold;
  font-style: normal;
  font-size: 1.1em;
}

.commentlist p {
  font-weight: normal;
  line-height: 1.5em;
  text-transform: none;
}

#commentform p {
  font-family: "Lucida Grande", Verdana, Arial, Sans-Serif;
}

.commentmetadata {
  font-weight: normal;
}

#sidebar {
  font: 1em Arial, Helvetica, sans-serif;
}

small,
#sidebar ul ul li,
#sidebar ul ol li,
.nocomments,
.postmetadata,
blockquote,
strike {
  color: #777777;
}

code {
  font: 1.1em "Courier New", Courier, Fixed;
}

acronym,
abbr,
span.caps {
  font-size: 0.9em;

  letter-spacing: 0.07em;
}

a,
h2 a:hover,
h3 a:hover {
  color: #4b4b4b;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
}

#wp-calendar #prev a,
#wp-calendar #next a {
  font-size: 9pt;
}

#wp-calendar a {
  text-decoration: none;
}

#wp-calendar caption {
  font: bold 1.3em "Lucida Grande", Verdana, Arial, Sans-Serif;
  text-align: center;
}

#wp-calendar th {
  font-style: normal;
  text-transform: capitalize;
}

/* End Typography & Colors */

/* Begin Structure */

.narrowcolumn .postmetadata {
  padding-top: 5px;
}

.postmetadata {
  clear: left;
}

/* End Structure */

/*	Begin Headers */

h1 {
  padding-top: 30px;
  margin: 0;
}

h2 {
  margin: 20px 0 0;
}

h2.pagetitle {
  margin-top: 30px;

  text-align: center;
}

#sidebar h2 {
  margin: 5px 0 0;
  padding: 0;
}

h3 {
  padding: 0;
  margin: 20px 0 0;
}

h3.comments {
  padding: 0;
  margin: 40px auto 20px;
}

/* End Headers */

/* Begin Images */

p img {
  padding: 0;
  max-width: 100%;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.alignright {
  padding: 4px;
  margin: 0 0 2px 7px;
  display: inline;
}

img.alignleft {
  padding: 4px;
  margin: 0 7px 2px 0;
  display: inline;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

/* End Images */

/* Begin Lists */

html > body .entry ul {
  margin-left: 0px;
  padding: 0 0 0 30px;
  list-style: none;
  padding-left: 10px;
  text-indent: -10px;
}

html > body .entry li {
  margin: 7px 0 8px 10px;
}

.entry ul li:before,
#sidebar ul ul li:before {
  content: "\00BB \0020";
}

.entry ol {
  padding: 0 0 0 35px;

  margin: 0;
}

.entry ol li {
  margin: 0;

  padding: 0;
}

.postmetadata ul,
.postmetadata li {
  display: inline;

  list-style-type: none;

  list-style-image: none;
}

#footer ul,
#footer li {
  list-style-type: none;

  list-style-image: none;

  margin-bottom: 5px;

  padding: 0;
}

#sidebar ul,
#sidebar ul ol {
  margin: 0;

  padding: 0;
}

#sidebar ul li {
  list-style-type: none;

  list-style-image: none;

  margin-bottom: 15px;
}

#sidebar ul p,
#sidebar ul select {
  margin: 0px 0 0px;
}

#sidebar ul ul,
#sidebar ul ol {
  margin: 0px 0 0 0px;
}

#sidebar ul ul ul,
#sidebar ul ol {
  margin: 0 0 0 10px;
}

ol li,
#sidebar ul ol li {
  list-style: decimal outside;
}

#sidebar ul ul li,
#sidebar ul ol li {
  margin: 5px 0 0;

  padding: 0;
}

/* End Entry Lists */

/* Begin Form Elements */

#searchform {
  margin: 10px auto;

  text-align: left;
}

#sidebar #searchform #s {
  width: 100px;

  padding: 2px;
}

#sidebar #searchsubmit {
  padding: 1px;
}

.entry form {
  /* This is mainly for password protected posts, makes them look better. */

  text-align: center;
}

select {
  width: 130px;
}

#commentform input {
  width: 170px;

  padding: 2px;

  margin: 5px 5px 1px 0;
}

#commentform textarea {
  width: 100%;

  padding: 2px;
}

#commentform #submit {
  margin: 0;

  float: right;
}

/* End Form Elements */

/* Begin Comments*/

.alt {
  margin: 0;

  padding: 10px;
}

.commentlist {
  padding: 0;

  text-align: justify;
}

.commentlist li {
  margin: 15px 0 3px;

  padding: 5px 10px 3px;

  list-style: none;
}

.commentlist p {
  margin: 10px 5px 10px 0;
}

#commentform p {
  margin: 5px 0;
}

.nocomments {
  text-align: center;

  margin: 0;

  padding: 0;
}

.commentmetadata {
  margin: 0;

  display: block;
}

/* End Comments */

/* Begin Sidebar */

#sidebar form {
  margin: 0;
}

/* End Sidebar */

/* Begin Calendar */

#wp-calendar {
  empty-cells: show;

  margin: 10px auto 0;

  width: 155px;
}

#wp-calendar #next a {
  padding-right: 10px;

  text-align: right;
}

#wp-calendar #prev a {
  padding-left: 10px;

  text-align: left;
}

#wp-calendar a {
  display: block;
}

#wp-calendar caption {
  text-align: center;

  width: 100%;
}

#wp-calendar td {
  padding: 3px 0;

  text-align: center;
}

#wp-calendar td.pad:hover {
  /* Doesn't work in IE */

  background-color: #ffffff;
}

/* End Calendar */

#facebook {
  margin-left: -12px;
  margin-top: 12px;
}

/* Begin Various Tags & Classes */

acronym,
abbr,
span.caps {
  cursor: help;
}

acronym,
abbr {
  border-bottom: 1px dashed #999999;
}

blockquote {
  margin: 15px 30px 0 10px;

  padding-left: 20px;

  border-left: 5px solid #dddddd;
}

blockquote cite {
  margin: 5px 0 0;

  display: block;
}

.center {
  text-align: center;
}

a img {
  border: none;
}

.navigation {
  display: block;

  text-align: left;

  font-size: 0.7em;
  margin-bottom: 40px;
}

/* Menu styles
-------------------------------------------------------------------------------*/
#main-menu {
  position: fixed;
  bottom: 30px;
  left: 30px;
  margin-top: 16px;
  font-size: 12px;
}

#main-menu a {
  color: #4b4b4b;
}

#main-menu a:hover {
  color: red !important;
}
#main-menu ul {
  list-style: none;
  text-align: justify;
  padding-inline-start: 0px;
}
#main-menu ul li {
  clear: both;
  position: relative;
  margin-top: 10px;
}

.menu-item-has-children:hover {
  border: 1px solid #735010 !important;
  background-color: #735010;
}
.menu-item-has-children:hover a {
  color: #000 !important;
}

.menu-item-has-children:hover a:hover {
  color: #735010 !important;
}

#main-menu li,
div.menu li {
  float: left;
  position: relative;
}

#main-menu ul ul {
  display: none;
  position: absolute;
  top: 23px;
  left: -1px;
  float: left;
  width: 150px;
  line-height: 25px;
  z-index: 22px;
}

.sub-menu {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #735010;
  border: 1px solid #735010;
}
ul.sub-menu li {
  clear: both;
  border: none !important;
  padding-left: 0px !important;
}

.sub-menu li:hover {
  border: none !important;
}

#main-menu ul li:hover > ul {
  display: block;
}

#main-menu ul li.current_page_item > a,
#main-menu ul li.current-menu-ancestor > a,
#main-menu ul li.current-menu-item > a,
#main-menu ul li.current-menu-parent > a {
  color: red;
}

#hamburger {
  display: none;
}

.hamburger {
  position: fixed;
  right: 0;
  bottom: 0;
  display: none !important;
}
.hamburger:hover {
  opacity: 1 !important;
}
.hamburger-inner.changed:before,
.hamburger-inner.changed:after {
  background-color: red;
  /*background-color: red;*/
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: #000;
}

/* End Various Tags & Classes*/

@media screen and (max-width: 1100px) {
  .narrowcolumn {
    max-width: 100% !important;
    margin: 0 40px 0 40px;
  }
  #page {
    overflow: hidden;
  }
  #main-menu {
    margin-top: 0;
    left: -100%;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    font-size: 2em;
  }
  #main-menu ul li {
    margin-top: 25px;
  }
  .hamburger {
    display: inline-block !important;
    font-size: 1.2em !important;
  }
  /*Make dropdown links appear inline*/

  .is-active {
    color: red !important;
  }

  .show-menu {
    left: 30px !important;
    overflow-y: scroll;
    padding-bottom: 30px;
  }
}

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 30px 30px 26px 30px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}
